/node_modules
/public/hot
/public/fonts/*
/public/storage
/storage/*.key
/storage/fonts/dompdf_font_family_cache.php
/vendor
!/vendor/blockchyp/blockchyp-php/lib/BlockChypClient.php
/.idea
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.env
/public/js
/public/css
debug.log
.vscode
